body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg.jpg");
  background-size: cover;
  background-position: center right;
}
.menu {
  min-height: 100vh;
}
.menu .brand {
  display: block;
  text-align: center;
}
.menu .btn {
  font-size: 0.55rem;
  display: block;
}
.menu #player {
  display: block;
}
.canvas {
  min-height: 100vh;
}
.frame {
  display: none;
}
#characters {
  display: block;
}
#characters a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#characters a img {
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.progress {
  height: 20px;
}
.progress label {
  padding: 0 5px;
}
.list-attributes {
  font-size: 1rem;
  list-style: none;
  text-align: left;
  padding: 0;
  background-color: #FFF;
  margin-top: 35px;
}
.list-attributes li {
  padding: 2px;
}
.list-attributes li span {
  display: inline-block;
}
.list-attributes li .title {
  width: 75%;
}
.list-attributes li .content {
  width: 22%;
  text-align: center;
  border-left: 2px solid #CCC;
}
.list-attributes li .content img {
  height: 20px;
}
.dices {
  margin-top: 40px;
}
.dices label {
  display: block;
}
.dices .dice {
  border-radius: 20%;
  border: 2px solid #000;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #FFF;
  color: #000;
  margin-top: 12px;
  display: inline-block;
  width: 55px;
  height: 54px;
}
